@{
    ViewBag.Title = "Forgot Password Confirmation";
}


@section styles{
    <link rel="stylesheet" href="~/assets/css/page_log_reg_v2.css">
}

<div class="breadcrumbs">
    <div class="container  margin-top-60">
        <h1 class="pull-left">@ViewBag.Title</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Forgot Password</li>
        </ul>
    </div>
    <!--/container-->
</div>


<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div>
                <h4>
                    Please check your email to reset your password.
                </h4>
                <p class="text-danger">
                    For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
                    Please change this code to register an email service in IdentityConfig to send an email.
                </p>
            </div>

        </div>

    </div>
    <!--/row-->
</div>


