@model Fiveplus.Kicker.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send Verification Code";
}

<div class="breadcrumbs">
    <div class="container margin-top-60">
        <h1 class="pull-left">@ViewBag.Title</h1>

    </div><!--/container-->
</div>


<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-grey margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> Two Factor Authentication Provider</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("SendCode", "Account", new {ReturnUrl = Model.ReturnUrl}, FormMethod.Post, new {@class = "form-inline", role = "form"}))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label class="control-label margin-right-20" for="selectProvider">Select Provider:</label>
                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control", @id = "selectProvider" })
                         
                        </div>

                        <input type="submit" value="Submit" class="btn-u btn-u-default pull-right" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
