@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}

@section styles
{
    <style type="text/css">
    .fancybox-margin {
        margin-right: 17px;
    }
</style>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" />
    
}




@section scripts
{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <script src="~/Scripts/plugins/x-angular-limitTo.js"></script>
    <script src="~/ng-App/js/home-index.js"></script>
    <script src="~/ng-App/js/directives.js"></script>
    <script src="~/ng-App/data/dataServices.js"></script>
    <script src="~/ng-App/js/filters.js"></script>

}


<section id="homepageCarousel" class="carousel carousel-1 slide color-two-l" data-ride="carousel">
    <div class="carousel-inner">

        <div class="item item-dark active" style="background-image: url(/Content/images/carousel-kickstarter.jpg);">
            <div class="container">
                <div class="description fluid-center">
                    <span class="title">The new Boomerang Bootstrap Template</span>
                    <span class="subtitle">Created for maximum responsiveness. Take the tour.</span>
                    <span class="features">
                        <i class="fa fa-laptop"></i>
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-twitter"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="item item-light" style="background-image: url(/Content/images/carousel-mural.jpg);">
            <div class="container">
                <div class="description">
                    <span class="title">Implementing videos is easy</span>
                    <span class="subtitle">Media support for Vimeo, Youtube and much more</span>
                    <ul class="list-carousel">
                        <li><i class="fa fa-check-square"></i> Lorem Ipsum is simply dummy</li>
                        <li><i class="fa fa-check-square"></i> Printer took a galley</li>
                        <li><i class="fa fa-check-square"></i> It has survived not only</li>
                        <li><i class="fa fa-check-square"></i> Electronic typesetting</li>
                    </ul>
                </div>
                <div class="object">
                    <iframe src="//player.vimeo.com/video/78468485?title=0&amp;byline=0&amp;portrait=0" height="320"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#homepageCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</section>
<section class="slice animate-hover-slide bg-5" data-ng-controller="indexController">
    <div class="w-section inverse">
        <div class="container">
            <h3 class="section-title">Most Popular</h3>
            <span class="see-all pull-right inline"><a href="/discover/popular?ref=popular">See all</a></span>
            <div class="row">
                <div class="col-md-3" ng-repeat="gigItem in gigs">
                    <hm-gig-item gig="gigItem"></hm-gig-item>
                </div>

                <div class="col-md-3">
                    <div class="w-box">
                        <div class="figure">
                            <img alt="" src="images/prv/wk-img-2.jpg" class="img-responsive">
                            <span class="date-over small"><strong>December 23, 2013</strong></span>
                            <div class="figcaption bg-2"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-2.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <h2>Awesome features</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="w-box">
                        <div class="figure">
                            <img alt="" src="images/prv/wk-img-4.jpg" class="img-responsive">
                            <span class="date-over small"><strong>December 25, 2013</strong></span>
                            <div class="figcaption bg-2"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-3.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <h2>Adpative design</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="w-box">
                        <div class="figure">
                            <img alt="" src="images/prv/wk-img-5.jpg" class="img-responsive">
                            <span class="date-over small"><strong>January 03</strong></span>
                            <div class="figcaption bg-2"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-4.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <h2>New Bootstrap template</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="slice bg-3">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-desktop"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Mobile ready</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-code"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>40+ Prebuild pages</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-cogs"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>SEO Optimized</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-wrench"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Modern standard pages</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Loaded with shortcodes</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-plane"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Shop clean layout</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
