@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeModule";
}

@section styles
{
    <style type="text/css">
    .fancybox-margin {
        margin-right: 17px;
    }
</style>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" />
    
}

@section scripts
{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

}

@section ngscripts
{   <script src="~/ng-App/plugins/x-angular-limitTo.js"></script>
    <script src="~/ng-App/modules/home/homeModule.js"></script>

}

       

            <!--=== Content Part ===-->
            <div class="container content" data-ng-controller="indexController">
             
                <div class="row margin-top-60">
                    <div class="col-md-6">
                            <input type="text" list="list" class="form-control input-lg" width="100%" placeholder="Select Category" />
                            <datalist id="list">
                                <option value="{{c.categoryName}}" ng-repeat="c in categories">{{c.categoryName}}</option>
                               
                            </datalist>
                            <div class="clearfix"></div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section>
                            <input type="text" list="list" class="form-control input-lg" width="100%" placeholder="Select  Sub Category"/>
                                <datalist id="list">
                                    <option value="Alexandra"></option>
                                    <option value="Alice"></option>
                                    <option value="Anastasia"></option>
                                    <option value="Avelina"></option>
                                    <option value="Basilia"></option>
                                    <option value="Beatrice"></option>
                                    <option value="Cassandra"></option>
                                    <option value="Cecil"></option>
                                    <option value="Clemencia"></option>
                                    <option value="Desiderata"></option>
                                    <option value="Dionisia"></option>
                                    <option value="Edith"></option>
                                    <option value="Eleanora"></option>
                                    <option value="Elizabeth"></option>
                                    <option value="Emma"></option>
                                    <option value="Felicia"></option>
                                    <option value="Florence"></option>
                                    <option value="Galiana"></option>
                                    <option value="Grecia"></option>
                                    <option value="Helen"></option>
                                    <option value="Helewisa"></option>
                                    <option value="Idonea"></option>
                                    <option value="Isabel"></option>
                                    <option value="Joan"></option>
                                    <option value="Juliana"></option>
                                    <option value="Karla"></option>
                                    <option value="Karyn"></option>
                                    <option value="Kate"></option>
                                    <option value="Lakisha"></option>
                                    <option value="Lana"></option>
                                    <option value="Laura"></option>
                                    <option value="Leona"></option>
                                    <option value="Mandy"></option>
                                    <option value="Margaret"></option>
                                    <option value="Maria"></option>
                                    <option value="Nanacy"></option>
                                    <option value="Nicole"></option>
                                    <option value="Olga"></option>
                                    <option value="Pamela"></option>
                                    <option value="Patricia"></option>
                                    <option value="Qiana"></option>
                                    <option value="Rachel"></option>
                                    <option value="Ramona"></option>
                                    <option value="Samantha"></option>
                                    <option value="Sandra"></option>
                                    <option value="Tanya"></option>
                                    <option value="Teresa"></option>
                                    <option value="Ursula"></option>
                                    <option value="Valerie"></option>
                                    <option value="Veronica"></option>
                                    <option value="Wilma"></option>
                                    <option value="Yasmin"></option>
                                    <option value="Zelma"></option>
                                </datalist>
                                <div class="clearfix"></div>
                        </section>
                    </div>        
                </div>


                <div class="headline margin-bottom-35"><h2>Most Popular Gigs</h2></div>

                <!-- Easy Blocks v1 -->                
                <div class="row high-rated margin-bottom-20" >
                   
                    <div ng-repeat="gigItem in gigs">
                    <easy-block gig="gigItem"></easy-block>
                </div>
                    <!-- End Easy Block -->
                </div>
                <!-- End Easy Blocks v1 -->                

            </div>
            <!--=== End Content Part ===-->

            <!--=== Job Team ===-->
            <div class="parallax-team parallaxBg" style="background-position: 50% 181px;">
                <div class="container content">
                    <div class="title-box-v2">
                        <h2>Build Your <span class="color-green">Own</span> Talents</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div class="row">
                        <!-- Team v2 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="team-v2">
                                <img class="img-responsive" src="assets/img/team/1.jpg" alt="">
                                <div class="inner-team">
                                    <h3>Jack Anderson</h3>
                                    <small class="color-green">CEO, Chief Officer</small>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                    <hr>    
                                    <ul class="list-inline team-social">
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Team v2 -->

                        <!-- Team v2 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="team-v2">
                                <img class="img-responsive" src="assets/img/team/3.jpg" alt="">
                                <div class="inner-team">
                                    <h3>Kate Metus</h3>
                                    <small class="color-green">Project Manager</small>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                    <hr>    
                                    <ul class="list-inline team-social">
                                        <li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Team v2 -->

                        <!-- Team v2 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="team-v2">
                                <img class="img-responsive" src="assets/img/team/2.jpg" alt="">
                                <div class="inner-team">
                                    <h3>Porta Gravida</h3>
                                    <small class="color-green">VP of Operations</small>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                    <hr>    
                                    <ul class="list-inline team-social">
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Team v2 -->

                        <!-- Team v2 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="team-v2">
                                <img class="img-responsive" src="assets/img/team/4.jpg" alt="">
                                <div class="inner-team">
                                    <h3>Donec Elisson</h3>
                                    <small class="color-green">Director, R &amp; D Talent</small>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                    <hr>    
                                    <ul class="list-inline team-social">
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                                <i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Team v2 -->
                    </div>
                </div>
            </div>    
            <!--=== End Job Team ===-->  

            <!--=== Job Partners ===-->
            <div class="container content job-partners">
                <div class="title-box-v2">
                    <h2>Our <span class="color-green">Featured</span> Partners</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <ul class="list-inline our-clients" id="effect-2">
                    <li>
                        <figure>
                            <img src="assets/img/clients2/ea-canada.png" alt="">
                            <div class="img-hover">
                                <h4>Ea Canada</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/inspiring.png" alt="">
                            <div class="img-hover">
                                <h4>Inspiring</h4>  
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/ucweb.png" alt="">  
                            <div class="img-hover">
                                <h4>UcWeb</h4>  
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/clarks.png" alt="">  
                            <div class="img-hover">
                                <h4>Clarks</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/corepreserves.png" alt="">  
                            <div class="img-hover">
                                <h4>Core Preserves</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/finals.png" alt="">  
                            <div class="img-hover">
                                <h4>USL Champions</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/getaround.png" alt="">  
                            <div class="img-hover">
                                <h4>GetAround</h4>
                            </div>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/img/clients2/baderbrau.png" alt="">  
                            <div class="img-hover">
                                <h4>Baderbrau</h4>
                            </div>
                        </figure>
                    </li>      
                    <li>
                        <figure>
                            <img src="assets/img/clients2/emirates.png" alt="">  
                            <div class="img-hover">
                                <h4>Emirates</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/fddw.png" alt="">  
                            <div class="img-hover">
                                <h4>Field Days</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/district-karaoke.png" alt="">  
                            <div class="img-hover">
                                <h4>District Karaoke</h4>
                            </div>
                        </figure>
                    </li>        
                    <li>
                        <figure>
                            <img src="assets/img/clients2/marianos.png" alt="">  
                            <div class="img-hover">
                                <h4>Mariano's</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/grifting-tree.png" alt="">  
                            <div class="img-hover">
                                <h4>The Grifting Tree</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/jaguar.png" alt="">  
                            <div class="img-hover">
                                <h4>Jaguar</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/hermes.png" alt="">  
                            <div class="img-hover">
                                <h4>Hermes</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/starbucks.png" alt="">  
                            <div class="img-hover">
                                <h4>Starbucks</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/national-geographic.png" alt="">  
                            <div class="img-hover">
                                <h4>National Geographic</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/much-more.png" alt="">  
                            <div class="img-hover">
                                <h4>Much More</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/hotiron.png" alt="">  
                            <div class="img-hover">
                                <h4>Hotiron</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/fred-perry.png" alt="">  
                            <div class="img-hover">
                                <h4>Fred Perry</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/bellfield.png" alt="">  
                            <div class="img-hover">
                                <h4>Bellfield</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/getapp.png" alt="">  
                            <div class="img-hover">
                                <h4>GetApp</h4>
                            </div>
                        </figure>
                    </li>    
                    <li>
                        <figure>
                            <img src="assets/img/clients2/austrian-airlines.png" alt="">  
                            <div class="img-hover">
                                <h4>Austrian Airlines</h4>
                            </div>
                        </figure>
                    </li>          
                    <li>
                        <figure>
                            <img src="assets/img/clients2/general-electric.png" alt="">  
                            <div class="img-hover">
                                <h4>General Electronic</h4>
                            </div>
                        </figure>
                    </li>    
                </ul>
            </div><!--/container--> 
            <!--=== End Job Partners ===-->