@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeModule";
}

@section styles
{
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/assets/css/plugins/brand-buttons/brand-buttons.css" rel="stylesheet" />
    <link href="~/assets/css/plugins/brand-buttons/brand-buttons-inversed.css" rel="stylesheet" />
    <link href="~/assets/css/pages/blocks.css" rel="stylesheet" />
    <link href="~/assets/css/pages/portfolio-v1.css" rel="stylesheet" />
}

@section scripts
{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

}

@section ngplugins
{
    <script src="~/ng-App/plugins/x-angular-limitTo.js"></script>
}

@section ngscripts
{

@*<script src="~/ng-App/modules/explore/home/app.js"></script>*@
<script src="~/ng-App/modules/manage/dataServices.js"></script>
<script src="~/ng-App/modules/explore/home/homeModule.js"></script>

}




<!--=== Content Part ===-->
<div class="relative" style="z-index: 2" ng-controller="shellCtrl as shell">


    <div class="container content relative" ng-include="'/ng-App/modules/explore/home/subPages/staffPick.html'"></div>


    <hr class="no-margin" />

    <div class="container" ng-include=" '/ng-App/modules/explore/home/subPages/popularGigs.html'" ng-controller="popularGigsCtrl as vm"></div>

    <div class=" funny-boxes margin-top-60">

        <div class="title-box-v2">
            <h2>Discover <span class="color-green">great gigs</span> with your friends!</h2>
            <h4 class="margin-top-15">Want to learn more? See how it works</h4>
            <a class="btn btn-lg btn-facebook-inversed margin-top-15" href="/account/login">
                <i class="fa fa-facebook"></i> Connect with Facebook <i class="fa fa-angle-right"></i>
            </a>
        </div>

    </div>





    <!--=== End Content Part ===-->
    <!--=== Curated Gigs  ===-->
    <div class="container" ng-include="'/ng-App/modules/explore/home/subPages/curatedGigs.html'"></div>
    <!--===Curated Gigs ===-->


</div>