@import url(../../../Content/font-awesome/font-awesome.css);
.how-it-works-section {
  padding: 120px 0;
  background-color: #81BB47;
  margin: 0 auto;
  color: #fff;
}
.how-it-works-section h4 {
  color: white;
}
.how-it-works-section .section-header h2 {
  color: #B4EE7A;
  margin: 0 0 35px 0;
  font-weight: 700;
}
.how-it-works-section .img-circle {
  border: 2px solid #fff;
  width: 70px;
  height: 70px;
  margin: 15px auto;
  text-align: center;
  background-color: #68A22E;
}
.how-it-works-section .img-circle strong {
  font-size: 35px;
  line-height: 61px;
}
.how-it-works-section h4 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
}
.how-it-works-section p {
  width: 54%;
  margin: 0 auto;
}
.social-proof-section {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  margin-top: -1px;
}
.social-proof-section ul {
  padding: 25px 0;
  margin-bottom: 0;
}
.social-proof-section ul li:last-child {
  margin-right: 0;
}
.social-proof-section ul li div {
  width: 214px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
}
.social-proof-section .gray-img {
  cursor: pointer;
}
.social-proof-section ul li .tc {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/tc2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .hp {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/hp2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .dc {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/dc2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .fr {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/f2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .wsj {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/wsj2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_sz {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_sz2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_fo {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_fo2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_dw {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_dw2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_bm {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_bm2.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .tc:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/tc1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .hp:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/hp1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .dc:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/dc1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .fr:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/f1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .wsj:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/wsj1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_sz:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_sz1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_fo:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_fo1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_dw:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_dw1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-proof-section ul li .de_bm:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/homejoy/img/landing/de_bm1.png);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* Login Form Related*/
.margin-bottom-20 {
  margin-bottom: 20px;
}
#loginModal * {
  border-radius: 0 !important;
}
/* Slice */
.section .bg-2 {
  background: #f1c40f;
  color: #FFF;
}
/* Helper CSS*/
.no-padding {
  padding: 0;
}
