@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="heading heading-v1 margin-bottom-40 margin-top-60">
    <h2>Error</h2>
    <h4>An error occurred while processing your request.</h4>
</div>