<div class="profile-edit tab-pane fade in active">
 
    
    <form class="sky-form" name="basicProfileForm" ng-submit="submitForm(basicProfileForm.$valid)" ng-if="!vm.showForm" novalidate>
        <header>Manage your Name, Phone and Email Addresses.</header>
        <fieldset>
            <div class="row">
                <div class="alert alert-info fade in" ng-if="vmIndex.status.success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>Success! Data Saved!</h4>
                </div>
                <div class="alert alert-warning fade in" ng-if="basicProfileForm.$invalid && basicProfileForm.$submitted ">
                    <strong>Errors!</strong>
                  
                </div>
            </div>
            <div class="row">
                <section class="col col-6">
                    <ncg-input ng-model="vm.newUserName" label="User Name" ng-model-options="{ debounce : { 'default' : 500 } }"
                               type="text" name="username" ng-minlength=6 ng-maxlength=24 ng-required ng-disabled="true" class="input-disabled"
                               icon="icon-append fa fa-user" placeholder="Enter your new UserName" tooltip="Enter Your Username">
                        <!-- username-available-validator -->
                        <span class="note" ng-message="usernameAvailable">Username is already taken</span>
                        <span class="note" ng-message="pending">Checking for Username</span>
                    </ncg-input>


                </section>
                <section class="col col-6">
                    <ncg-input ng-model="vm.userdetail.user.email" label="Email" type="email" name="email" ng-required="true" ng-disabled="vm.disableEdit" ng-class="{'input-disabled':vm.disableEdit}"
                               icon="icon-append fa fa-envelope" tooltip="Enter Your Email">
                    </ncg-input>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <ncg-input ng-model="vm.userdetail.fullName" label="Full Name" name="fullName" ng-required="true" ng-disabled="vm.disableEdit" ng-class="{'input-disabled':vm.disableEdit}"
                               icon="icon-append fa fa-envelope" tooltip="Enter Your Email">
                    </ncg-input>


                </section>
                <section class="col col-6">
                    <ncg-input ng-model="vm.userdetail.location" label="Location" name="location" ng-required="true" ng-disabled="vm.disableEdit" ng-class="{'input-disabled':vm.disableEdit}"
                               icon="icon-append fa fa-flag" tooltip="Enter Your Email">
                    </ncg-input>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <ncg-input ng-model="vm.userdetail.user.phoneNumber" label="Phone Number" name="phoneNumber" ng-required="true" ng-disabled="vm.disableEdit" ng-class="{'input-disabled':vm.disableEdit}"
                               icon="icon-append fa fa-phone" tooltip="Enter Your Phone">
                    </ncg-input>

                </section>
                <section class="col col-6">
                    <label class="toggle">
                        <input type="checkbox" name="checkbox-toggle-2" ng-model="vm.userdetail.user.twoFactorEnabled" checked="" ng-trim="true" ng-disabled="vm.disableEdit"><i></i>
                        <span style="font-weight: bold; font-size:12px">Enable Two factor Authentication?</span>
                    </label>
                    <label class="toggle">
                        <input type="checkbox" name="checkbox-toggle-1" ng-model="vm.rememberBrowser" checked="" ng-trim="true" ng-disabled="vm.disableEdit"><i></i>
                        <span style="font-weight: bold; font-size:12px">Remember Browser?</span>
                    </label>
                </section>
            </div>

            <section>
                <ncg-input template="ncgTextarea" ng-model="vm.userdetail.biography" label="Brief Biography" name="biography" ng-required="true" ng-class="{'input-disabled':vm.disableEdit}"
                           ng-disabled="vm.disableEdit" tooltip="Enter Your Brief Biography"></ncg-input>
            </section>


        </fieldset>

        <footer>
            <button type="button" class="btn btn-default" ng-click="vmIndex.cancelForm();vm.disableEdit=true">CANCEL</button>
            <button class="btn btn-warning" type="button" ng-if="vm.disableEdit"  ng-click="vm.disableEdit = false;">EDIT</button> 
            <button class="btn btn-success" type="submit" ng-if="!vm.disableEdit" ng-click="vmIndex.saveChanges();vm.disableEdit = true;">SAVE</button>  <!--ng-disabled="basicProfileForm.$invalid || basicProfileForm.$pending"-->
        </footer>

    </form>

    <hr />
    <!--<form action="" class="sky-form" name="basicPhoneForm" novalidate="novalidate"  ng-submit="submitForm(basicPhoneForm.$valid)">
            <dl class="dl-horizontal">
                <field ng-model="basicProfile.Phone" ng-maxlength=12 ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" type="tel" name="phone" label="Phone" ng-required="false"
                       icon="icon-prepend fa fa-phone" tooltip="Enter Your Phone">
                    <validator key="required">Phone is Required | </validator>
                    <validator key="tel"> Enter a Valid Phone Number | </validator>
                    <validator key="maxlength"> Do not exceed 12 characters </validator>
                    <validator key="pattern"> Enter a Phone Number in 3-3-4 format </validator>
                </field>
            </dl>
            <button class="btn btn-success" type="submit" ng-disabled="basicPhoneForm.$invalid">Save Phone Number</button>
        </form>
        <hr />-->
    <!--<dt>Username</dt>
                <dd>
                    <section>
                        <label class="input" ng-class="{ 'state-error' : basicProfileForm.username.$invalid && !basicProfileForm.username.$pristine,
                                                    'state-success' : basicProfileForm.username.$valid && !basicProfileForm.username.$pristine }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" placeholder="Username" name="username" required ng-minlength=10 ng-maxlength=80 ng-model="basicProfile.userName" />
                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                        </label>
                        <span class="note" ng-show="basicProfileForm.username.$pristine || basicProfileForm.username.$error.required">Title is Required  |  </span>
                        <span class="note" ng-show="basicProfileForm.username.$pristine || basicProfileForm.username.$error.minlength">Enter at-least 10 characters |  </span>
                        <span class="note" ng-show="basicProfileForm.username.$pristine || basicProfileForm.username.$error.maxlength">Do Not Exceed More Than 80 characters </span>
                    </section>
                </dd>-->


    <pre>{{vm.basicProfile}}</pre>

</div>