<div class="">
    <h2 class="heading-md" >Manage your Security Settings</h2>
 <hr>
  <form class="sky-form" id="basicSecurityForm" name="basicSecurityForm" novalidate="novalidate" ng-submit="vm.submitPassword(basicSecurityForm.$valid)" >
        <input id="antiForgeryToken" ng-model="$parent.$parent.antiForgeryToken" type="hidden" ng-init="$parent.$parent.antiForgeryToken='@Functions.GetAntiForgeryToken()'" />
      
      <pre>{{vm.errors}}</pre>
      <div class="row">
          <div class="alert alert-info fade in" ng-if="vmIndex.showNotification">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4>Success! Data Saved!</h4>
          </div>
          <div class="alert alert-warning fade in col col-10" ng-if="basicProfileForm.$invalid && basicProfileForm.$submitted || vm.errors.length >0">
              <strong>Errors!</strong>
              <ul>
                  <li ng-repeat="error in vm.errors"> <span ng-bind="error.message"></span></li>
              </ul>
          </div>
      </div>

      <h3 ng-show="vm.user.passwordHash == ''">Set your password.</h3>
      <h3 >{{vm.title}}</h3>
        <br />

        <dl class="dl-horizontal">
            <div ng-if="vm.user.passwordHash == ''">

                <dt><label class="control-label no-padding-right">New Password</label></dt>
                <dd>
                    <ncg-input type="text" ng-model="vm.basicSecurity.newPassword" required name="newPassword" ng-pattern="/^(?=.{6,20}$)(?=.*\d)(?=.*[a-zA-Z]).*$/"
                               placeholder="New Password" class="form-control" icon="icon-append fa fa-lock">
                        <span class="note" ng-message="pattern">Enter a Valid password - 6 - 20 characters with at-least one number</span>
                    </ncg-input>
                </dd>
                <div class="margin-bottom-10"></div>

                <dt><label class="control-label no-padding-right">Confirm Password</label></dt>
                <dd>
                    <ncg-input type="text" ng-model="vm.basicSecurity.confirmPassword" required name="confirmPassword"
                               placeholder="Confirm Password" class="form-control" compare-to="vm.basicSecurity.newPassword" icon="icon-append fa fa-lock">
                        <span class="note" ng-message="compareTo">Must match the password field</span>
                    </ncg-input>
                </dd>

            </div>
            <div ng-if="vm.user.passwordHash != ''">
                <dt><label class="control-label no-padding-right">Current Password</label></dt>
                <dd>
                    <ncg-input type="text" ng-model="vm.basicSecurity.currentPassword" required name="currentPassword"
                               placeholder="Current Password" class="form-control" icon="icon-append fa fa-lock">
                    </ncg-input>
                </dd>
                <div class="margin-bottom-10"></div>

                <dt><label class="control-label no-padding-right">New Password</label></dt>
                <dd>
                    <ncg-input type="text" ng-model="vm.basicSecurity.newPassword" required name="newPassword" ng-pattern="/^(?=.{6,20}$)(?=.*\d)(?=.*[a-zA-Z]).*$/"
                               placeholder="New Password" class="form-control" icon="icon-append fa fa-lock">
                        <span class="note" ng-message="pattern">Enter a Valid password - 6 - 20 characters with at-least one number</span>
                    </ncg-input>
                </dd>
                <div class="margin-bottom-10"></div>

                <dt><label class="control-label no-padding-right">Confirm Password</label></dt>
                <dd>
                    <ncg-input type="text" ng-model="vm.basicSecurity.confirmPassword" required name="confirmPassword"
                               placeholder="Confirm Password" class="form-control" compare-to="vm.basicSecurity.newPassword" icon="icon-append fa fa-lock">
                        <span class="note" ng-message="compareTo">Must match the password field</span>
                    </ncg-input>
                </dd>
            </div>
        </dl>
        <br>
        <section>
            <button type="button" class="btn btn-default" ng-click="vmIndex.cancelForm()">Cancel</button>
            <button class="btn btn-success" type="submit" ng-disabled="basicProfileForm.$invalid || basicProfileForm.$pending">Save Changes</button>
        </section>

    </form>

</div>