<!-- http://plnkr.co/edit/3zMsNnpNfOFwExSqLj2I?p=preview -->

    <!--<dt><label class="control-label no-padding-right" >[replaced in uiField.js]</label></dt>
    <dd>
        <section hide-errors>
            <label class="input" ng-class="{ 'state-error' : $field.$invalid && !$field.$pristine && !optional,
                                                        'state-success' : $field.$valid && !$field.$pristine && !optional }">
                <i class=""></i>
                <input />
                <b class="tooltip tooltip-bottom-right"></b>
            </label>
            <span class="note" ng-repeat="(key, error) in $field.$error" ng-show="$field.$pristine || (error && $field.$dirty)">{{$validationMessages[key]}}</span>
        </section>
    </dd>-->

<dt><label class="control-label no-padding-right">[replaced in uiField.js]</label></dt>
<dd>
    <section hide-errors>
        <label class="input" ng-class="{ 'state-error' : $field.$invalid && !$field.$pristine && !optional,
                                                        'state-success' : $field.$valid && !$field.$pristine && !optional }">
            <i class=""></i>
            <input />
            <b class="tooltip tooltip-bottom-right"></b>
        </label>
        <span class="note" ng-repeat="(key, error) in $field.$error" ng-show="$field.$pristine || (error && $field.$dirty)">{{$validationMessages[key]}}</span>
        <div ng-if="$field.$dirty">
           
            <div ng-if="$field.$pending" class="note">
                <div ng-message="">{{$validationMessages["pending"]}}</div>
            </div>
        </div>
        
    </section>
</dd>