<!-- http://plnkr.co/edit/3zMsNnpNfOFwExSqLj2I?p=preview -->
<!-- http://plnkr.co/edit/3zMsNnpNfOFwExSqLj2I?p=preview -->

    <!--<div class="form-group" ng-class="{ 'has-info' : $field.$pristine && !optional ,'has-error' : $field.$invalid && !$field.$pristine && !optional,'has-success' : $field.$valid && !$field.$pristine && !optional }">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right">[replaced in uiField.js]</label>
        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea class="input-xlarge"></textarea>
            </div>
            <div class="help-block col-xs-12 col-sm-reset inlineblock" ng-repeat="(key, error) in $field.$error" ng-show="$field.$pristine || (error && $field.$dirty)"> {{$validationMessages[key]}}</div>
        </div>
    </div>-->
<dt><label class="control-label no-padding-right">[replaced in uiField.js]</label></dt>
<dd>
    <section hide-errors>
        <label class="textarea textarea-resizable" ng-class="{ 'state-error' : $field.$invalid && !$field.$pristine && !optional,
                                                        'state-success' : $field.$valid && !$field.$pristine && !optional }">
            <textarea rows="3"></textarea>
            <b class="tooltip tooltip-bottom-right"></b>
        </label>
        <span class="note" ng-repeat="(key, error) in $field.$error" ng-show="$field.$pristine || (error && $field.$dirty)">{{$validationMessages[key]}}</span>
    </section>
</dd>

